<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div id="app">
        <h1>Todo List</h1>
        <input type="text" v-model="newTodo" placeholder="New Todo" >
        <button @click="addTodo()" id="add">Add Todo</button>
        <div v-if="notDone === 0" id="notasks">
            <p>No tasks left</p>
        </div>
        <div v-else>
            <p>You have <strong>{{ notDone }}</strong> tasks left</p>
        </div>
        <ol>
            <li v-for="(task, index) in tasks" :key="task">
                <label>
                    <input type="checkbox" :value="task" v-model="task.done" @change="updateDones(task)" >
                    {{ task.text }}
                </label>
                <button @click="deleteTodo(index)" class="delete-btn">Delete</button>
            </li>
        </ol>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="index.js"></script>
</body>
</html>
