.delete-btn {
    background-color: red;
    color: azure;
    margin-left: 10px;
}

li {
    margin:20px 5px;
}

#add {
    background-color: rgb(35, 148, 73);
    color: azure;
    margin-left: 10px;
}

#notasks {
    color: red;
}
